@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;

}

.header {

    background: linear-gradient(#000000, #222222);
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #ddd;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

    font-size: 17px;
    padding-left: 15px;
}

.main {
    padding-left: 30px;
}

.nav {
    background-color: #FFEE00;
    width: 160px;
}

body {
    background: linear-gradient(#333333, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.article {
    width: 992px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.site-main {
    margin-top: 20px;
    float: left;
    width: 65%;
    font-family: 'proxima-nova", "Arial';
    background: white;
}

.site-main .inline-images img {
    display: block;
    float: left;
}

/* Menu */

.logo-icon-image {
    height: 98px;
}

.navTitle {
    margin-left: 10px;
    margin-top: 10px;
}

.header .menu {
    float: right;
    list-style: none;
    margin-top: 5px;
}

.menu > li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a {
    color: #898989;
}

/* Dropdown */

.dropdown-menu {
    font-size: 16px;
    margin-top: 5px;
    min-width: 105px;
}

.dropdown-menu li a {
    color: #898989;
    padding: 6px 20px;
    font-weight: 300;
}


/* Other */

video {
    background-color: #000000;
    border: 2px solid black;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.w3-container .w3-padding-32 .w3-margin-top p {
    color: white;
}
