<!DOCTYPE html>
<html>
<head>
    <title>Joseph Hoare</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../fitness/main.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Added for tag search section -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../scripts/globals.js"></script>
    <script src="../nav/nav.js"></script>
    <script src="editor.js"></script>
</head>

<nav class="header"></nav>

<body class="jh-light-grey">

<div class="jh-content" style="max-width:1400px">

    <!-- Grid -->
    <div class="jh-row"
         ng-app="editorApp"
         ng-controller="myCtrl"
            >
        <!-- Blog entries -->
        <div class="jh-col l6 s12"
             >
            <!-- Blog entry -->
            <div id="post-data" ng-repeat="post in posts" class="jh-card-4 jh-margin jh-white">
                <div class="jh-container jh-padding-8" >
                    <form>
                        <p>Blog: <select class="jh-input"
                                         ng-model="selectedBlog"
                                         ng-options="blog as blog.blogName for blog in blogs"></select>
                        </p>
                        <p>Banner Image URL: <input type="text"
                                                    class="jh-input"
                                                    required
                                                    ng-model="post.bannerImageURL"></p>
                        <p>Post Title: <input type="text"
                                              class="jh-input"
                                              required
                                              ng-model="post.title"></p>
                        <p>Content: <textarea type="text"
                                              style="resize: vertical"
                                              class="jh-input"
                                              required
                                              ng-model="post.content"></textarea></p>

                        <p>Tags:
                            <md-chips ng-model="tag_ex"
                                  md-autocomplete-snap
                                  md-transform-chip="transformChip($chip)"
                                  md-require-match flex>
                                <md-autocomplete flex
                                                 md-selected-item="tag"
                                                 md-search-text="searchText"
                                                 md-items="item in searchTag(searchText)"
                                                 md-item-text="item.tagName"
                                                 placeholder="Search for Tags">
                                    <span md-highlight-text="searchText">{{ item.tagName }}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                        <strong>{{$chip.tagName}}</strong><em></em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
                        </p>


                    </form>
                        <div class="jh-row">
                            <div class="jh-left">
                                <button id="deleteButton"
                                        style="display: inline;"
                                        class="jh-btn jh-padding-large jh-red jh-border jh-hover-border-black"
                                        type="submit"
                                        ng-click="deletePost()">
                                    <b>Delete</b>
                                </button>
                            </div>
                            <div class="jh-right">
                                <button id="cancelButton"
                                        class="jh-btn jh-padding-large jh-white jh-border jh-hover-border-black"
                                        type="submit"
                                        ng-click="cancelButtonClicked()">
                                    <b>Cancel</b>
                                </button>
                                <button id="submitButton"
                                        class="jh-btn jh-padding-large jh-white jh-border jh-hover-border-black"
                                        type="submit"
                                        ng-click="savePost()">
                                    <b>Submit</b>
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="jh-col l6 s12"
             ng-include src="'../posts/posts.html'"/>
    </div>

</div>

<!-- Footer -->
<footer class="jh-container jh-padding-32 jh-margin-top">
    <p id="copyright">Copyright &copy; 2016 Joseph Hoare</p>
</footer>

</body>
</html>
