<div style="display: none;">{{ text() }}</div>
<!-- Blog entry -->
<div id="post-data" ng-repeat="post in postsToDisplay track by $index" class="jh-card-4 jh-margin jh-white">
    <div class="img-holder" style="position: relative; width:100%; background-color: #080808">
        <img check-image ng-src="{{post.bannerImageURL}}" style="display: block;max-height:500px;max-width: 100%;margin: 0 auto;">
        <div class="button-holder" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" style="position: absolute; top: 0px; right: 0px; width: 25%; height: 25%">
            <button class="edit-button"
                    ng-show="hoverEdit"
                    ng-click="clickedEditButton()"
                    style="position: absolute; top: 10px; right: 10px"
                    >
                <img src="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519584-081_Pen-16.png"
                     alt=""
                     style="margin-bottom:inherit"
                        >
            </button>
        </div>
    </div>
    <div class="jh-container jh-padding-8">
        <h2><b> {{post.title}} </b></h2>
        <h5>{{post.userName}}, <span class="jh-opacity"> {{post.formattedDate}} </span></h5>
    </div>
    <div class="jh-container" ng-bind-html="post.content | trust"></div>
    <br>
    <div class="jh-container jh-padding-8" ng-if="postsToDisplay[$index].tags.length > 0">
        <h3><b>Tags:</b></h3>
        <md-chips ng-model="postsToDisplay[$index].tags" readonly="true">
            <md-chip-template>{{$chip.tagName}}</md-chip-template>
        </md-chips>
    </div>
    <div class="jh-row">
        <div class="jh-col m8 s12 jh-container">
            <p>
                <button id="more-button"
                        class="jh-btn jh-padding-large jh-white jh-border jh-hover-border-black"
                        ng-click="clickedMoreButton()"
                        >
                    <b>READ MORE</b>
                </button>
            </p>
        </div>
        <div class="jh-col m4 jh-hide-small jh-container">
            <p>
                <span class="jh-padding-large jh-right">
                    <b>Comments</b>
                    <span class="jh-tag"> 0 </span>
                </span>
            </p>
        </div>
    </div>
</div>